@import '@styles/base.scss';

@include mainContainer {

    margin-bottom: 1.5rem;

    .pageTitle {
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .stepContainer {
        width: 100%;
    }

    .footer {
        @include paddingX(0.5rem);
        @include paddingY(0.5rem);
        @include directionX;

        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 30;
        width: 100%;
        justify-content: end;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
        gap: 1rem;
        background-color: var(--color-bg);

        .button {
            @include button;

            width: 100px;
        }
    }
}

.innerContainer {
    @include directionY;

    width: 100%;
    margin-bottom: 2rem;
    align-items: center;

    .title {
        font-weight: 600;
        margin-bottom: 2rem;
        width: 100%;
    }

    .emptyContainer {
        @include containerCenter;

        min-height: 200px;
        width: 100%
    }

    .addressListContainer {
        @include directionY;

        gap: 0.25rem;
        margin-bottom: 1rem;
        width: 100%;

        .addressData {
            @include directionX;

            width: 100%;
            align-items: center;
            border-radius: 10px;
            background-color: var(--color-bg);

            &[data-active='true'] {
                background-color: var(--color-primary);
            }

            .iconContainer {
                @include padding(1rem);
                cursor: pointer;

                .icon {
                    font-size: 2rem;
                    flex-shrink: 0;
                }
            }

            .data {
                @include directionY;
                @include paddingY(1rem);

                flex-grow: 1;
                cursor: pointer;

                .addressLabel {
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 0.25rem;
                }

                .addressText {
                    font-size: 0.8rem
                }

            }

            .editBtn {
                @include containerCenter;

                border: 0;
                background-color: transparent;
                width: 50px;
                height: 50px;
                border-radius: 9999px;
                margin-right: 1rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .addAddressContainer {
        @include containerCenter;
        @include paddingY(1rem);

        border-top: 1px solid #000;
        width: 100%;

        .button {
            @include containerCenter;

            border: 0;
            background-color: transparent;
            width: 50px;
            height: 50px;
            border-radius: 9999px;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .selectorContainer {
        width: 100%;
        margin-bottom: 1rem;

        .input {
            @include input;

            width: 100%;
        }
    }

    .providerInfoContainer {
        @include directionY;

        width: 100%;

        p {
            width: 100%;
        }

        .label {
            font-weight: 500;
        }

        .data {
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .infoContainer {
            @include directionY;

            margin-bottom: 0.5rem;
        }

        .labelEst {
            font-weight: 500;
            text-align: end;
        }

        .time {
            font-weight: 600;
            text-align: end;
        }

        .dataEst {
            font-weight: 600;
            text-align: end
        }
    }

    .paymentMethodListContainer {
        @include directionY;

        gap: 0.25rem;
        margin-bottom: 1rem;
        width: 100%;

        .paymentMethodData {
            @include directionX;
            @include padding(1rem);

            width: 100%;
            align-items: center;
            border-radius: 10px;
            background-color: var(--color-bg);
            cursor: pointer;

            &[data-active='true'] {
                background-color: var(--color-primary);
            }

            .logo {
                height: 50px;
                aspect-ratio: 2/1;
                object-fit: scale-down;
                object-position: center;
                margin-right: 1rem;
            }

            .text {
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }

    .summaryContainer {
        @include directionY;

        width: 100%;
        max-width: 600px;
        gap: 0.5rem;
        margin-top: 1rem;

        .itemContainer {
            @include directionX;

            width: 100%;
            align-items: center;

            .image {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                margin-right: 0.5rem;
                object-fit: cover;
                object-position: center;

                @include apply-at-sm-size {
                    width: 80px;
                    height: 80px;
                    margin-right: 1rem;
                }
            }

            .text {
                font-size: 1.1rem;
                font-weight: 600;
                flex-grow: 1;
            }

            .price {
                font-size: 1.2rem;
                font-weight: 700;
                flex-shrink: 0;
            }
        }

        .otherPriceContainer {
            @include directionX;

            width: 100%;

            .label {
                font-size: 0.9rem;
                font-weight: 500;
                flex-grow: 1;
            }

            .price {
                font-size: 1rem;
                font-weight: 600;
                flex-shrink: 0;
            }
        }

        .totalPriceContainer {
            @include directionX;

            width: 100%;
            border-top: 1px solid #000;

            .label {
                font-size: 1rem;
                font-weight: 600;
                flex-grow: 1;
            }

            .price {
                font-size: 1.2rem;
                font-weight: 700;
                flex-shrink: 0;
            }
        }
    }
    .paymentMethodContainer {
        @include directionY;
        width: 100%;
        margin-bottom: 1rem;

        .label {
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .paymentMethodDataContainer {
            @include directionX;

            align-items: center;
            justify-content: end;

            .logo {
                @include padding(0.25rem);

                width: 100px;
                border-radius: 10px;
                aspect-ratio: 2/1;
                margin-right: 1rem;
                object-fit: scale-down;
                background-color: var(--color-bg);
            }
            .name {
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }
}