@import '@styles/base';

@include mainContainer {
  .sectionContainer {
    @include directionY;

    min-height: 150px;
    width: 100%;
    margin-bottom: 2rem;

    .title {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1rem
    }

    .listItemsX {
      @include directionX;

      width: 100%;
      gap: 1rem;
      overflow-x: auto;
    }
  }
}

.emptyContainer {
  @include containerCenter;

  flex-grow: 1;
}

.itemCardContainer {
  @include directionY;

  width: 280px;
  flex-shrink: 0;
  cursor: pointer;

  .image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0.6rem;
    border-radius: 10px;
  }

  .itemName {
    font-weight: 700;
    font-size: 1.4rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  .itemPrice {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .midTextContainer {
    @include directionX;

    align-items: center;

    .icon {
      font-size: 1rem;
      margin-right: 0.5rem;
    }

    .endsOnText {
      font-weight: 500;
      font-size: 0.8rem;
    }
  }


  .auctionTimeContainer {
    @include directionX;

    align-items: center;

    .timeContainer {
      font-weight: 700;
      font-size: 1.4rem;
      width: 100%;
      text-align: center;
    }

    .dateContainer {
      font-weight: 500;
      font-size: 1rem;
      width: 100%;
      text-align: center;
    }
  }
}

.categoryContainer {
  position: relative;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 20px;
  cursor: pointer;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    border-radius: inherit;
  }

  .backdrop {
    @include containerCenter;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(2px);
    z-index: 10;
    border-radius: inherit;

    .text {
      z-index: 10;
      color: var(--color-text-invert);
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.searchComponentContainer {
  @include directionX;

  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  align-items: center;
  position: sticky;

  .input {
    @include paddingY(0.25rem);
    @include paddingX(1rem);
    border: 0;
    border-radius: 9999px;
    background-color: var(--color-bg);
    width: 100%;
    height: 45px;
  }

  .searchBtn {
    position: absolute;
    right: 0.25rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}

.searchPageContainer {
  @include directionY;
  flex-grow: 1;

  .pageTitle {
    margin-bottom: 0.5rem;
  }

  .categoryTab {
    @include directionX;

    width: 100%;
    overflow-x: auto;
    gap: 0.25rem;
    margin-bottom: 1rem;

    .item {
      @include paddingX(0.25rem);

      flex-shrink: 0;
      border-bottom: 4px solid transparent;
      cursor: pointer;

      .name {
        font-weight: 500;
      }

      &[data-active='true'] {
        border-bottom: 4px solid #ff9900;
      }
    }
  }

  .resultContainer {
    @include directionX;

    width: 100%;
    flex-grow: 1;

    .resultListContainer {
      @include grid(2, 0.5rem);

      width: 100%;
      justify-content: center;
    }
  }
}

::-webkit-scrollbar {
  display: none !important;
}